---
Checks: '*,

    -altera*,
    -fuchsia*,
    -llvmlibc*,

    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -llvm-header-guard,
    -readability-identifier-length,
    -readability-magic-numbers,
    '
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
...
